.about-section{
    background-color:#ffc107ba;
    padding:50px;
    margin-top:50px;
}

.elipseAbout{
    width:100%;
    margin:0 auto;
}

.aboutMe-title{
    display:flex;
    flex-flow:row wrap;
    font-size:1.5rem;
    font-weight:400;
    align-items: center;
}

.aboutMe-subtitle{
    font-size: 1.7rem;
    color:var(--blue-color);
    font-weight:400;
    margin-top:10px;
}

.aboutMe-subtitle span{
    font-weight:700;
}

.aboutMe-text p{
    font-family:"Lato";
    line-height:25px;
    margin-top:30px;
    font-size:1.15rem;
    letter-spacing:0.2px;
}

.aboutme-btn-section{
    display:flex;
    flex-flow:column wrap;
    align-items:center;
}

.btn-letsWork{
    width:225px;
    height:40px;
    text-align: start;
    padding-left:15px;
    font-weight:600;
    letter-spacing: 0.4px;
    font-size:1.1rem;
    position:relative;
}

.email-icon{
    position:absolute;
    top:8px;
    left:calc(100% - 35px);
}

.signature{
    font-style: italic;
    font-weight:700;
    margin:15px 0;
    letter-spacing: 0.3px;
}