.about-section{
    background-color:#ffc107ba;
    padding:50px;
    margin-top:50px;
}

.elipseAbout-img{
    width:100%;
    margin:0 auto;
}

.aboutMe-title{
    display:flex;
    flex-flow:row wrap;
    font-size:1.5rem;
    font-weight:400;
    align-items: center;
}

.aboutMe-subtitle{
    font-size: 1.7rem;
    color:var(--blue-color);
    font-weight:400;
    margin-top:10px;
}

.aboutMe-subtitle span{
    font-weight:700;
}

.aboutMe-text p{
    font-family:"Lato";
    line-height:25px;
    margin-top:30px;
    font-size:1.15rem;
    letter-spacing:0.2px;
}

.aboutme-btn-section{
    display:flex;
    flex-flow:column wrap;
    align-items:center;
}

.btn-letsWork{
    width:225px;
    height:40px;
    text-align: start;
    padding-left:15px;
    font-weight:600;
    letter-spacing: 0.4px;
    font-size:1.1rem;
    position:relative;
    color:var(--text-color);
}

.btn-letsWork:hover{
    background-color:var(--text-color);
}

.btn-letsWork:hover a{
    color:var(--background-color);

}

.email-icon{
    position:absolute;
    top:15px;
    left:calc(100% - 35px);
    font-family: fontawesome;
    font-size:1.3rem;
}

.email-icon:before{
    content: "\f0e0";
  }

.signature{
    font-style: italic;
    font-weight:700;
    margin:15px 0;
    letter-spacing: 0.3px;
}

@media (min-width:1025px){
    .about-section{
        display:flex;
        flex-flow:row wrap;
        align-items: center;
        justify-content:center;
        padding:50px;
        margin:0 auto;
    }

    .elipseAbout{
        flex-basis:40%;
        order:1;
    }

    .elipseAbout-img{
        width:80%;
    }

    .aboutMe-text-div{
        flex-basis:40%;
        order:2;
    }

    .aboutme-btn-section{
        width:90%;
        flex-flow:row wrap;
        justify-content: space-between;
        margin-top:10px;
    }

    .signature{
        margin-top:30px;
    }
}