.footer-container {
    padding:50px;
    display:flex;
    flex-flow:column wrap;
    background-color: var(--background-color);
  }

  .rectangles2{
    width:100%;
  }
  
  .letsConnect-title{
    font-weight:700;
    font-size:1.7rem;
    align-items: center;
  }

  .letsConnect-title span{
    color:var(--orange-color);
  }

  .footer-logo{
    display:flex;
    align-items: center;
    margin-top:20px;
  }

  .footer-logo h1{
    font-size:1.5rem;
    color:var(--orange-color);
    font-weight:500;
    margin-left:10px;
    letter-spacing: 0.5px;
  }

  .footer-text{
    font-size:1.15rem;
    font-family: "lato";
    line-height:30px;
    margin-top:20px;
    letter-spacing:0.4px;
  }
  
  
  .socials{
    display:flex;
    flex-flow:row wrap;
    justify-content:space-between;
    margin-top:50px;
    text-align: center;
  }

  .box{
    width:50px;
    height:50px;
    background-color:var(--orange-color);
    border-radius:10px;
    display:inline-block;
    text-decoration:none;
    text-align:center;
    line-height:50px;
    border-radius:5px;
    position:relative;
    font-family:fontawesome;
    font-size:1.8rem;
    cursor:pointer;
  }

  .box:hover{
    opacity:0.8;
    transform:scale(1.05);
  }

  .box span{
    position:absolute;
    top:-40px;
    left:-25px;
    padding:5px;
    font-family:"lato";
     visibility:hidden;
    opacity:0;
    line-height:20px;
    font-size:1rem;
  }
  
  .box:hover span{
    visibility: visible;
    opacity:1;
    width:80px;
    height:20px;
    background-color:var(--orange-color);
    left:-20px;
    border-radius:5px;
  }
  
  .box span:before{
    content: ' ';
    width:0;
    height:0;
    border-left:5px solid transparent;
    border-right: 5px solid transparent;
    border-top:5px solid var(--orange-color);
    position:absolute;
    bottom:-4px;
    left:40px;
  }
  

  .github:before{
    content: '\f09b';
  }

  
  .instagram:before{
    content: '\f16d';
  }

  
  .linkedin:before{
    content: '\f08c';
  }

  .socials img{
    margin-top:20%;
  }
  
  .footer-nav, .footer-contact{
    display:flex;
    flex-flow:column wrap;
    justify-content:space-around;
    margin-top:30px;
  }
  
  .footer-nav h3, .footer-contact h3{
    color:var(--orange-color);
    letter-spacing:0.5px;
    font-weight:400;
  }
  
  .footer-nav li, .footer-contact li{
    list-style:none;
    font-size:1.15rem;
    color: var(--text-color);
    margin-top:10px;
    font-family: "Lato";
    font-weight:300;
    cursor:pointer;
  }
  
  .copyright-text{
    width:100%;
    background-color:var(--blue-color);
    height:30px;
  }
  
  .copyright-text p{
    font-size:0.7rem;
    line-height:30px;
    text-align: center;
  }

  @media (min-width: 1025px){
    .footer-container{
      padding:70px 120px;
      flex-flow:row wrap;
      gap:40px;
    }

    .footer-text-section{
      flex-basis:35%;
    }

    .footer-nav-section{
      display:flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: flex-start;
      flex-basis:50%;
    }

    .socials{
      justify-content: flex-start;
      gap:25px;
    }

    
  }
  