.header{
    background-color:var(--background-color);
    height:auto;
    display:flex;
    flex-flow:column wrap;
    padding:20px 70px;
    align-items:flex-start;
  }

  .headerOvalos{
    margin:0 auto;
  }

.headerOvalos-img{
    width:100%;
    max-width:350px;
    display:block;
}
  
  .header-text-div{
    display:flex;
    flex-flow:column wrap;
    margin:40px auto;
  }
  
  .header-text h2{
    font-size:1.5rem;
    margin-top:5px;
    letter-spacing: 0.5px;
  }
  
  .header-text h2:first-child{
    font-style:italic;
  }
  
  .header-text h1 span{
    color:var(--orange-color);
  }
  
  .header-text h1{
    margin-top:10px;
    font-size:1.8rem;
    margin-bottom:7px;
    
  }
  
  .header-text p{
    margin-top:30px;
    line-height:30px;
    font-family: "Lato", serif;
    font-weight: 400;
    font-size:1.15rem;
    opacity:0.9;
    letter-spacing: 0.5px;
  }

  button{
    width:160px;
    height:40px;
    font-size:1.1rem;
    font-family: "Playfair Display", serif;
    padding:5px;
    line-height:15px;
    border:none;
    border-radius:5px;
    margin-top:20px;
    font-weight:600;
    cursor:pointer;
    color:var(--text-color);

  }

  .btn-viewProjects{
    margin-top:20px;
    background-color:var(--orange-color);
    transition:all 0.3s ease;

  }

  .btn-viewProjects:hover{
    background-color: #E09E00;
    box-shadow: 0px 2px 20px rgba(255, 179, 0, 0.5);
  }

  .btn-viewProjects:hover a, .btn-hireMe:hover a{
    color:var(--background-color);
  }

  .btn-hireMe{
   background-color: var(--blue-color);
   transition:all 0.3s ease;

  }

  .btn-hireMe:hover{
    background-color: #008192;
    box-shadow: 0px 2px 20px rgba(0, 172, 193, 0.5);
  }

  @media(min-width:1025px){
    .header{
      display:flex;
      flex-flow:row wrap;
      padding:70px;
    }

    .header-text-div{
      display:flex;
      flex-flow:row wrap;
      flex-basis:40%;
    }

    .header-text h2{
      font-size:1.1rem;
    }

    .header-text h1{
      font-size:1.3rem;
    }
    .header-text p{
      font-size:1rem;
    }

    .headerOvalos{
      flex-basis:40%;
      order:2;
      margin-top:20px;
    }

    button{
      width:140px;
      height:35px;
      font-size:0.9rem;
    }

    .btn-viewProjects, .btn-hireMe{
      margin-top:40px;
    }

    .btn-hireMe{
      margin-left:20px;
    }
  }


