.header{
    background-color:var(--background-color);
    height:auto;
    display:flex;
    flex-flow:column wrap;
    padding:35px;
    align-items:flex-start;
  }

.headerOvalos{
    width:100%;
    max-width:350px;
    display:block;
}
  
  .header-text{
    display:flex;
    flex-flow:column wrap;
    margin:40px 0px;
  }
  
  .header-text h2{
    font-size:1.3125rem;
  }
  
  .header-text h2:first-child{
    font-style:italic;
  }
  
  .header-text h1 span{
    color:var(--orange-color);
  }
  
  .header-text h1{
    margin-top:10px;
    font-size:1.4375rem;
    margin-bottom:7px;
    
  }
  
  .header-text p{
    margin-top:30px;
    line-height:25px;
    font-family: "Lato", serif;
    font-weight: 400;
    font-size:0.95rem;
    opacity:0.9;
  }

  button{
    height:31px;
    font-size:0.9rem;
    font-family: "Playfair Display", serif;
    padding:5px;
    line-height:15px;
    border:none;
    border-radius:5px;
    box-shadow:2px 2px 4px rgb(0,0,0,0.25);
    margin-top:20px;
    font-weight:700;
    cursor:pointer;
  }

  .btn-viewProjects{
    margin-top:20px;
    width:136px;
    background-color:var(--orange-color);
  }

  .btn-viewProjects:hover{
    background-color: var(--text-color);
    color:var(--background-color);
    transform:scale(1.05);
  }

  .btn-hireMe{
    width:108px;
    background-color: var(--blue-color);
  }

  .btn-hireMe:hover{
    background-color: var(--text-color);
    color:var(--orange-color);
    transform:scale(1.05);  
  }

  .rectangles{
    width:128%;
    margin-top:40px;
    position:relative;
    left:-35px;
  }

