.logo{
   
    height:42px;
    background-color: transparent;
    border-radius:5px;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo p{
    color:var(--text-color);
    font-size:1.5rem;
    font-weight:bold;
    letter-spacing:-2px;
  }

  @media (min-width:1025px) {
    .logo{
      width:30px;
      height:30px;
    }    

    .logo p{
      font-size:1.3rem;
    }
    
  }
  