.logo{
    width:42px;
    height:38px;
    background-color: var(--orange-color);
    border-radius:5px;
  }
  
  .logo p{
    color:var(--blue-color);
    font-size:1.6rem;
    font-weight:bold;
    letter-spacing:-2px;
    line-height:37px;
    margin-left:6px;
  }
  