.navbar{
    height:45px;
    background-color:var(--blue-color);
    padding:6px;
    display:flex;
    justify-content:space-between;
    align-items:center;
  }
  
  .navbar-logo{
    display:flex;
  }
  
  .navbar-logo h1{
    font-size:1.4rem;
    margin-top:7px;
    color:var(--text-color);
    margin-left:5px;
    opacity:0.9;
  }
  
  .navbar-btn{
    width:40px;
    height:40px;
    background-color:var(--orange-color);
    border-radius:5px;
    align-self:center;
    margin-right:5px;
    cursor:pointer;
    display:flex;
    flex-flow:column wrap;
    gap:4.5px;
    align-items:center;
    justify-content:center;
  }
  
  .navbar-btn:hover{
    background-color: var(--text-color);
    transform:scale(1.05);
  }
  
  .navbar-btn:hover span{
    background-color: var(--blue-color);
  }
  
  .navbar-btn span{
    display:block;
    width:18px;
    height:1.8px;
    background-color:var(--text-color);
  }
  