.projects{
    padding:50px;
}

.projects-div{
    display:flex;
    flex-flow: column wrap;
    align-items: center;
}

.project-header div{
    display:flex;
    flex-flow:row wrap;
}

.projects-title{
    display:flex;
    flex-flow:row wrap;
    font-size:1.5rem;
    font-weight: 400;
    align-items: center;
    
}

.projects-subtitle{
    font-size:1.7rem;
    font-weight:400;
    color:var(--orange-color);
    margin-top:10px;
    letter-spacing:0.5px;
}

.projects-subtitle span{
    font-weight:600;
}

.projects-card-section{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows:repeat(4, auto);
}


.hyphen{
    display:block;
    width:24px;
    height:5px;
    background-color:var(--blue-color);
    margin-right:10px;
}

.btn-viewAll{
    width:130px;
    height:40px;
    font-size:1.1rem;
    background-color:var(--orange-color);
    border-radius:5px;
    letter-spacing:0.2px; 
    text-align: start;
    padding-left:20px;
    position:relative;
    color:var(--text-color);
}

.btn-viewAll:hover{
    background-color:#e09e00;
    color:var(--background-color);
    box-shadow: 0px 4px 15px rgba(255, 179, 0, 0.5);
}

.btn-viewAll:hover>.arrow-right{
    fill:var(--background-color);
}

.arrow-right{
    position:absolute;
    top:13px;
    left:calc(100% - 30px);
}


@media (min-width:768px){

    .projects{
        padding:0 80px 60px;
    }

    .projects-card-section{
        grid-template-columns: repeat(2, auto);
        gap:25px;
    }
}

@media (min-width:1025px) {
    .projects{
        padding:0 120px 60px;
    }

    .projects-title{
        font-size:1.1rem;
    }

    .projects-subtitle{
        font-size:1.3rem;
    }
    .projects-card-section{
        padding:0 20px;
        margin-top:20px;
        grid-template-columns: repeat(3, auto);
        gap:50px;
    }

    .btn-viewAll{
        margin-top:-50px;
        font-size:0.9rem;
        width: 110px;
        height:35px;
    }

    .arrow-right{
        position:absolute;
        top:10px;
        left:calc(100% - 25px);
    }
}
