.technologies-section{
    padding:50px;
}

.technologies-title{
    display:flex;
    flex-flow: row wrap;
    font-size:1.5rem;
    font-weight:400;
    align-items: center;
}

.technologies-subtitle{
    font-size:1.7rem;
    font-weight:400;
    letter-spacing: 0.2px;
    margin-top:20px;
}

.technologies-subtitle span{
    color:var(--orange-color);
}